body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f0f0f0;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#error {
  color: red;
}

#success {
  color: green;
}
